html {
    box-sizing: border-box;
}

div {
    height: 25vw;
    border: 1px black solid;
}


#div2 {
    background-color: blueviolet;
}

#div3 {
    background-color: red;
}

/* Header elements */

#header {
    height: 55px;
    display: flex;
    justify-content: space-between;
}

#navbar, #logo-container {
    margin: 10px;
    height: auto;
    display: flex;
    align-items: center;
    gap: 7.5px;
}

.header-link {
    border: 1px solid red;
}

/* First div */

#div1 {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#left-side, #right-side {
  flex: 0  1 auto;  
  width: 300px;
  height: 300px;
}

